@model FitnessTracker.Models.WorkoutsModel

@{
    ViewData["Title"] = "Details";
    int duration = Model.Duration;
    int minutes;
    int seconds;
    int hours;
        minutes = duration / 60;
        seconds = duration % 60;
        hours = minutes / 60;
minutes = minutes % 60;
  
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>WorkoutsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Model.Type
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @hours:@minutes:@seconds (HH:MM:SS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriesBurned)
        </dt>
        <dd class="col-sm-10">
            @Model.CaloriesBurned (kcal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Date
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
    </dl>
</div>

<div>
    <h4>Vitals</h4>
    <hr />
    @if (Model.Vitals == null || Model.Vitals.VitalsId == null)
    {
        <p>No vitals available for this workout.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Vitals.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vitals.HeartRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vitals.SystolicBP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vitals.DiastolicBP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vitals.OxygenSaturation)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Vitals.Date</td>
                    <td>@Model.Vitals.HeartRate</td>
                    <td>@Model.Vitals.SystolicBP</td>
                    <td>@Model.Vitals.DiastolicBP</td>
                    <td>@Model.Vitals.OxygenSaturation</td>
                </tr>
            </tbody>
        </table>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</p>
