@model IEnumerable<FitnessTracker.Models.WorkoutsModel>

    <h1>Workouts</h1>
    <hr />
    <div class="row mb-3">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Create Workout
            </a>
        </div>
    </div>
<!-- Search Bar * -->
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Workouts" id="workoutSearchInput">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="workoutSearchButton">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>
<div class="dropdown" id="workoutDropdown">
    <div class="dropdown-menu" id="workoutDropdownMenu"></div>
</div>

<!-- Workouts grid -->
<div class="container">
    <div class="row">
        @foreach (var workout in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    @* <img class="card-img-top" src="@workout.ImageUrl" alt="@workout.Name"> *@
                    <div class="card-body">
                        <h5 class="card-title">@workout.Name</h5>
                        <p class="card-text">@workout.Description</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details", "Workouts", new { id = workout.Id })" class="btn btn-primary btn-sm"><i class="bi bi-journals"></i></a>
                        <a href="@Url.Action("Edit", "Workouts", new { id = workout.Id })" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                        <a href="@Url.Action("Delete", "Workouts", new { id = workout.Id })" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>

                    </div>
                </div>
            </div>
        }
    </div>

    @* <!-- Search bar -->
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search workouts">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"
                    onclick="location.href='@Url.Action("Index", "Workouts")?searchString='+document.getElementById('searchString').value">Search</button>

                </div>
            </div>
        </div>
    </div> *@

    <!-- Pagination -->
    <div class="row mt-4">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/site.js"></script>
    }
    
}
