@model IEnumerable<FitnessTracker.Models.VitalsModel>

@{
    ViewData["Title"] = "Vitals";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    // Back to the Index view
    <a asp-action="Index" class="btn btn-primary">Back to Vitals</a>
}
@if (TempData["ErrorMessage"] == null)
{
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <h1>Vitals</h1>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <a asp-action="Create" class="btn btn-success">
                    <i class="fas fa-plus"></i> Create Vital
                </a>
            </div>
        </div>
        <hr>
        @* <div class="row">
    <div class="col-md-12">
    <form asp-action="Index" method="get">
    <div class="form-row">
    <div class="form-group col-md-2">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" type="date">
    </div>

    <div class="form-group col-md-2">
    <label asp-for="HeartRate" class="control-label"></label>
    <input asp-for="HeartRate" class="form-control">
    </div>

    <div class="form-group col-md-2">
    <label asp-for="SystolicBP" class="control-label"></label>
    <input asp-for="SystolicBP" class="form-control">
    </div>

    <div class="form-group col-md-2">
    <label asp-for="DiastolicBP" class="control-label"></label>
    <input asp-for="DiastolicBP" class="form-control">
    </div>

    <div class="form-group col-md-2">
    <label asp-for="OxygenSaturation" class="control-label"></label>
    <input asp-for="OxygenSaturation" class="form-control">
    </div>

    <div class="form-group col-md-2">
    <button type="submit" class="btn btn-primary">Search</button>
    </div>
    </div>
    </form>
    </div>
    </div> *@

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Heart Rate</th>
                    <th>Systolic BP</th>
                    <th>Diastolic BP</th>
                    <th>Oxygen Saturation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.Date.ToShortTimeString()</td>
                        <td>@item.HeartRate</td>
                        <td>@item.SystolicBP</td>
                        <td>@item.DiastolicBP</td>
                        <td>@item.OxygenSaturation</td>
                        <td>
                            @* Removed Edit button due to Vitals should not be edited once entered *@
                            @* <a asp-action="Edit" asp-route-id="@item.VitalsId" class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil-square"></i></a> *@
                            @if (item.WorkoutsId == null)
                            {
                                <a asp-action="Delete" asp-route-id="@item.VitalsId" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i></a>
                            }
                            else
                            {
                                // Add a tooltip to explain why the delete button is disabled
                                <a asp-action="Delete" asp-route-id="@item.VitalsId" class="btn btn-sm btn-danger disabled"
                                    title="Vitals cannot be deleted once associated with a workout" role="button">
                                    <i class="bi bi-trash"></i>
                                </a>


                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
    }
}
